
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBook</title>
</head>
<body>
    <h1>List all book</h1>
    <button>Click me</button>
</body>
</html>
